[repos]
hello = /home/bvz/Documents/squirrel_test_data/repos/studio
bob = /home/bvz/Documents/squirrel_test_data/repos/bob
nuts = /home/bvz/Documents/squirrel_test_data/repos/nuts
temp = /home/bvz/Documents/squirrel_test_data/repos/temp

[settings]
warn_on_load_error = True
fail_on_load_error = False
default_repo = bob
default_gather_loc = /tmp